{% extends "base.html" %} {% block content %} {% load bootstrap5 %}
<section class="container my-5">
    <div class="row">
        <div dir="rtl" class="col-12 card">
            <h2 class="card-header text-center bg-dark text-white">{{visit}}</h2>
            <br>
            <p class="text-end card-header bg-dark text-white">اسم الفرع : {{visit.store}}</p>
            <p class="text-end card-header">عدد المشاكل والاعطال : {{visit.faults.count}}</p>
            <div class="row mt-5">
                <div class=" col-12 ">
                    <div class="row">
                        <div class="col-md-4" style="background-color: aliceblue;">
                            <h4>زيارة - {{visit.type_of}} - لفرع - {{visit.store}} </h4>
                            {% for field in form_visit %} {% bootstrap_field field %} {% endfor %}
                        </div>{% for field in form_faults %}
                        <div class="col-md-4 ">
                            {% bootstrap_field field %}
                        </div> {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8 ">
        <form method="GET ">
            <input type="text " name="fault_nn ">
            <button type="submit "></button>
        </form>
        {{visit}} <br> {{fault}}
    </div>
    </div>
    <div class="row ">
    </div>
</section>

{% endblock content %}