{% load static %} {% load bootstrap5 %}
<div class="col-12 mb-3">
    <div dir="rtl" class="card h-350">
        <div class="card-header">
            <h2 class="btn-outline-info rounded text-center">الزيارات</h2>
            <span class="badge rounded-circle bg-dark">{{visits.count}}</span>

            <!-- Modal -->

        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-4 text-center">
                    <button class="border-secondary btn">اسم الفرع</button>
                </div>
                <div class="col-3 text-center">
                    <button class="border-secondary btn">تاريخ الزيارة</button>

                </div>
                <div class="col-5">
                    <button class="border-secondary btn">الاعطال  {{faults|length}}</button>

                </div>
            </div>
            <div class="list-group text-end" style="max-height: 250px; overflow-y: scroll;">
                {% for visit in visits %}
                <div class="row">
                    <div class="col-4">
                        <a href="{% url 'visit_detail' visit.id %}" class="list-group-item border-dark list-group-item-action"> {{visit.store}}</a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="list-group-item border-dark list-group-item-action"> {{visit.date_visit|date}}</a>
                    </div>
                    <div class="col-5">
                        الاعطال

                        <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#collapse{{visit.id}}" role="button" aria-expanded="false" aria-controls="collapse{{visit.id}}">
                            <i class="m-auto bi bi-arrow-down-square"></i>\ اجمالى : <b id="visit_count">{{visit.faults.count}}</b> مشكلة \ 3 تم الاصلاح 1 تم التأجيل لل(موافقة)
                        </a>
                        <div class="collapse" id="collapse{{visit.id}}">
                            <div class="card">
                                <div class="card-header">

                                </div>
                                <div class="card-body">

                                    {% for faulta in visit.faults.all %}
                                    <form class="form-control" method="get">
                                        <input type="text" name="name" id="name" disabled value="{{faulta.name}}" class="form-control">
                                        <input type="text" name="created_by" disabled id="created_by" value="By-{{faulta.created_by}}">
                                    </form>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal{{faulta.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">تفاصيل العطل</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form class="form">
                                                        <input class="form-control" type="text" disabled name="prolpem_name" value="{{faulta.name}}">
                                                        <input type="text" name="proplem_describe" class="form-control" disabled value="{{faulta.describe}}"> {% if faulta.status %}
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" disabled id="flexCheckDefault" checked>
                                                            <label class="form-check-label" for="flexCheckDefault">
                                                              تم الاصلاح
                                                            </label>
                                                        </div>
                                                        {% else %}
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" disabled id="flexCheckDefault">
                                                            <label class="form-check-label" for="flexCheckDefault">
                                                              لم يتم الاصلاح
                                                            </label>
                                                        </div>
                                                        {% endif %}
                                                        <div class="input-group mb-3">
                                                            {% if faulta.created_by %}
                                                            <input type="text" class="form-control" placeholder="{{faulta.created_by}}" disabled aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                            <span class="input-group-text" id="basic-addon2">ابلاغ من @ </span> {% else %}
                                                            <span class="input-group-text" name="text">لا يوجد معلومات عن المبلغ</span> {% endif %}
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">اغلاق</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn-link border-0 bi bi-info-square" data-bs-toggle="modal" data-bs-target="#exampleModal{{faulta.id}}">تفاصيل العطل</button>
                                    <a href="{% url 'visit_fault_edit' visit.id faulta.id %}" class="bi bi-archive">Edit</a>
                                    <hr> {% endfor %}

                                </div>

                                <!-- Modal -->
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}
                <a href="#" class="list-group-item list-group-flush"><b class="text-center link-dark"> زيارات الشهر الحالى فقط </b></a>
            </div>
        </div>
    </div>
</div>