{% extends "base.html" %} {% load static %} {% block content %}

<!-- Carousel Start -->

<!-- Carousel End -->

<!-- Stores -->
<section class="mt-5 ">
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-5 text-end">
                    <div class="mb-4">
                        <h5 class="text-primary text-uppercase">النصر للتوريدات والمقاولات العمومية</h5>

                        {% if user.is_authenticated %}
                        <h1 class="display-5 mb-0">
                            مرحبا بك فى ادارة صيانة فروع الشركة
                        </h1>
                        <p class="mb-4"></p>
                        <h5 class="text-uppercase text-primary wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">الحساب مسجل بصلاحيات ( <b class="badge bg-danger">{{user.profile.pos_in_store}}</b> )</h5>
                        <h1 class="wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;"> <br> نظام الادارة للفروع</h1><a href="{% url 'manage' %}" class="btn btn-primary">من هنا</a>
                        <br> {% else %}
                        <p>
                            يمكنك التواصل معنا من هنا مباشرة ما عليك الا تسجيل الدخول باسم الحساب الخاص بك وكلمة السر من هنا ...
                        </p>
                        {% endif %}

                    </div>
                </div>
                <div class="col-lg-7">
                    {% include "parts/carousel.html" %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Stores -->


<div class="container">
</div>

<!-- About Start -->
<div class="container-fluid mt-5 py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title text- mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">من نحن</h5>
                    <h1 dir="rtl" class="display-5 mb-0">شركة النصر للمقاولات والتوريدات العمومية والخدمات البترولية</h1>
                </div>
                <h4 dir="rtl" class="text-body fst-italic mb-4">مسجلة بالسجل التجارى للشركات ومصلحة الضرائب</h4>
                <p dir="rtl" class="mb-4">
                    شركة تشطيبات و مقاولات متخصصة فى كافة اعمال التشطيبات للشقق الفيلات و المحلات و المطاعم و الكافيهات و الصيدليات و العيادات و المبانى الادارية عن طريق تنفيذ تصميمات مبنية على اسس هندسية و ابعاد وضعت لتلبية الاحتياجات الوظيفية للمكان سواء اختيرت من قبل
                    العميل او مقترحة من قبلنا وذلك باسعار مناسبة لكافة المستويات و نقوم بعمل مقايسة لحساب اجمالى تكلفة اعمالك و قبل مرحلة التنفيذ نقوم بعمل تصميم ثلاثى الابعاد للوحدة لتشاهد شكل الوحدة النهائى قبل البدأ فى اى مرحلة من مراحل التشطيب
                </p>
                <p class="mb-4">
                    نقوم بعمل صيانات دورية لـ ( التكييفات - الابواب السيكوريت - الابواب الصاج - السباكة - الكهرباء والاضاءات)
                </p>
                <div class="row g-3">
                    <div class="col-sm-6 wow zoomIn px-5" data-wow-delay="0.3s">
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3 px-2"></i>سرعة استجابة</h5>
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>فنيين محترفين</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn px-5" data-wow-delay="0.6s">
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>24/7 مفتوح</h5>
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>أسعارنا عادلة</h5>
                    </div>
                </div>
                <a href="appointment.html" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s">تواصل معنا</a>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="{% static 'img/const/main.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

{% endblock content %}