<div class="row sticky">
    <div class="col-md-3 p-md-3 p-lg-5">
        <div class="card">
            <div class="card-header">
                <h3>Lorem ipsum dolor</h3>

            </div>
            <div class="card-body">
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
            <h4 id="list-item-1">Item 1</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore voluptates accusantium adipisci, voluptatum, sint rerum asperiores consectetur facere nostrum doloremque alias vitae doloribus officiis nesciunt culpa reprehenderit debitis error
                consequuntur? sit amet consectetur adipisicing elit. Tempora repudiandae culpa porro exercitationem. Sit, dolores velit omnis voluptates laudantium consequatur? Dolore consequuntur itaque molestias ullam ex labore et quas tenetur?
            </p>
            <div height="100px">

            </div>
            <h4 id="list-item-2">Item 2</h4>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident magnam, quidem optio assumenda blanditiis asperiores ratione itaque. Officiis officia, recusandae ullam tenetur perspiciatis repellat saepe quisquam nihil a. Fuga, dolore?
            </p>
            <h4 id="list-item-3">Item 3</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, sapiente doloribus vitae reiciendis officiis quia illo magnam tenetur consequuntur provident eveniet fuga velit obcaecati est adipisci corporis voluptas cupiditate? Error?</p>
            <h4 id="list-item-4">Item 4</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque dolorum autem doloribus cum ea perferendis nam ipsum quisquam repellat. Praesentium at, nisi repellat soluta eveniet non cumque debitis aliquam quasi.</p>
        </div>
    </div>
</div>